<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserMapper">

    <resultMap id="BaseResultMap" type="domain.UserDomain">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>
    <sql id ="UserProperties">
        id, name
    </sql>
    <select id="getById" resultMap="BaseResultMap">
        select <include refid="UserProperties"/> from user${seq} where id = #{id}
    </select>
    <update id="updateNameById">
        update user${seq} set name = #{name} where id = #{id}
    </update>
</mapper>
